.container {
    max-width: 1200px;
}

.banner-content {
    background-color: #f7f7f7;
    z-index: 1;
    max-width: 690px;
    overflow: hidden;
    padding: 230px 0px 180px;


    .image-banner {
        position: absolute;
        right: -30px;
        top: 0px;
    }

    .banner-txt {

        h1 {
            color: #000;
            font-size: 58px;
            font-weight: 700;
            line-height: 1.2;
            padding-bottom: 35px;
            font-family: $secondary-font;
        }

        .banner-tag {
            padding-right: 30px;
            border-radius: 40px;
            display: inline-block;
            margin-bottom: 45px;
            background-color: #efeff0;
            height: 50px;

            p {
                padding-bottom: 0;
                display: inline-block;
                font-size: 16px;
            }

            span {
                color: #fff;
                font-weight: 500;
                padding: 12px 30px;
                margin-right: 10px;
                border-radius: 40px;
                display: inline-block;
                background-color: #0000fe;
                font-size: 16px;
            }
        }
    }
}