.blog-details {
    padding: 100px 0px;
    background-color: #f2f2f4;
    .container{
        max-width: 1200px;
    }
    .blog-dt1 {
        background-color: #fff;

        .cover {
            overflow: hidden;
            border-radius: 6px;
        }

        .blog-txt {
            padding: 40px;
            padding-bottom: 90px !important;

            .meta {
                margin-bottom: 45px;

                a {
                    font-size: 13px;
                    font-weight: 700;
                    margin-right: 25px;
                    position: relative;
                    color: #0000fe;
                    font-family: "Fira Sans";
                }

                .line::after {
                    top: -3px;
                    width: 2px;
                    content: "";
                    right: -15px;
                    height: 20px;
                    position: absolute;
                    background-color: #0000fe;
                }
            }

            article {
                margin-bottom: 30px;
            }

            blockquote {
                font-size: 21px;
                font-style: italic;
                margin-bottom: 35px;
                padding: 20px 0px 20px 60px;
                border-left: 4px solid #ff5520;

                .author::before {
                    left: 0;
                    top: 18px;
                    height: 1px;
                    width: 38px;
                    content: "";
                    position: absolute;
                    background-color: #000;
                }

                strong {
                    color: #000;
                    font-size: 16px;
                    margin-right: 5px;
                }

                span {
                    font-size: 14px;
                }
            }

            .share {
                .share1 {
                    a {
                        margin-right: 5px;
                        padding: 10px 12px;
                        border-radius: 30px;
                        display: inline-block;
                        border: 1px solid #e5e5e5;
                        color: #555555;
                    }
                }

                .share2 {
                    span {
                        color: #000;
                        font-weight: 700 !important;
                        margin-right: 10px !important;
                        font: 16px $primary-font;
                    }

                    a {
                        width: 42px;
                        color: #fff;
                        height: 42px;
                        line-height: 42px;
                        margin-left: 8px;
                        text-align: center;
                        border-radius: 100%;
                        display: inline-block;
                        transition: 0.3s all ease-in-out;

                        &:nth-child(2) {
                            background-color: #3b5998;
                        }

                        &:nth-child(3) {
                            background-color: #1da1f2;
                        }

                        &:nth-child(4) {
                            background-color: #0077b5;
                        }
                    }
                }
            }
        }

    }

    .blog-dt2 {
        display: flex;
        flex-wrap: wrap;
        margin-top: 35px;
        background-color: #fff;

        .prev-post {
            padding: 40px;
            width: 50%;
            border-right: 2px solid #e5e5e5;

            .prev {
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: 2px solid #ff5520;

                a {
                    color: #000;
                    font-weight: 700;
                    font-size: 15px;
                }
            }

            h3 {
                color: #000;
                font-size: 18px;
                font-weight: 700;
                margin: 0;

                a {
                    color: black;
                }
            }
        }

        .next-post {
            text-align: right;
            padding: 40px;
            width: 50%;
            border-right: 2px solid #e5e5e5;

            .next {
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: 2px solid #ff5520;

                a {
                    color: #000;
                    font-weight: 700;
                    font-size: 15px;
                }
            }

            h3 {
                color: #000;
                font-size: 18px;
                font-weight: 700;
                margin: 0;

                a {
                    color: black;
                }
            }
        }
    }

    .comments {
        padding: 35px;
        margin-top: 40px;
        background-color: #fff;

        h3 {
            color: #000;
            font-size: 24px;
            font-weight: 700;
        }

        .discuss {
            margin-top: 20px;

            .comment {
                margin-bottom: 35px;

                .image {
                    width: 100px;
                    height: 100px;
                    overflow: hidden;
                    margin-right: 20px;
                    border-radius: 100%;
                }

                .txt {
                    overflow: hidden;

                    h4 {
                        color: #000 !important;
                        font-weight: 700;
                        font-size: 20px !important;
                        margin-bottom: 0;

                        a {
                            color: black;
                        }
                    }

                    span {
                        color: #7f7f7f;
                        font-size: 14px;
                    }

                    p {
                        margin-top: 15px;
                        font-size: 16px;
                    }

                    .comment-btn {
                        top: 0;
                        right: 0;
                        color: #fff;
                        height: 42px;
                        width: 100px;
                        font-weight: 700;
                        position: absolute;
                        line-height: 42px;
                        border-radius: 30px;
                        background-color: #ff5520;
                        text-align: center;
                    }
                }
            }

            .reply {
                margin-left: 100px;
            }
        }

        
    }

    .widget {
        overflow: hidden;
        border-radius: 4px;
        margin-bottom: 40px;
        background-color: #fff;

        .search {
            input {
                width: 100%;
                height: 48px;
                border: none;
                padding-left: 15px;
                border-radius: 4px;
                background-color: #fff;
            }

            button {
                top: 0;
                right: 0;
                width: 48px;
                color: #fff;
                border: none;
                height: 48px;
                position: absolute;
                border-radius: 4px;
                background-color: #ff5520;
            }
        }

        .category {
            padding: 35px 30px;

            h3 {
                color: #000000;
                font-size: 20px;
                font-weight: 700;
                padding-bottom: 14px;
                font-family: $primary-font;
            }

            ul {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    margin-bottom: 5px;

                    a {
                        color: #000;
                        font-weight: 700;
                        padding-left: 15px;
                        position: relative;
                        transition: 0.4s all ease-in-out;

                        &::after {
                            left: 0;
                            top: -1px;
                            color: #ff5520;
                            font-size: 14px;
                            content: "";
                            position: absolute;
                            font-weight: 900;
                            font-family: "Font Awesome 5 Free";
                        }

                        &:hover {
                            margin-left: 15px;
                        }
                       
                    }
                    &:nth-child(1){
                        a{
                            
                                margin-left: 15px;
                           
                        }
                    }
                }
            }
        }

        .recent-post {
            padding: 35px 30px;


            h3 {
                color: #000000;
                font-size: 20px;
                font-weight: 700;
                padding-bottom: 14px;
                font-family: $primary-font;
            }

            .post {
                width: 100%;
                display: inline-block;
                border: 1px solid #eef1fe;

                .image {
                    width: 65px;
                    height: 65px;
                    overflow: hidden;
                    margin-right: 10px;
                    border-radius: 4px;
                }

                .txt {
                    overflow: hidden;

                    span {
                        color: #888888;
                        font-size: 14px;
                    }

                    h3 {
                        color: #000;
                        font-size: 16px;
                        margin-bottom: 0;
                        font-weight: 700;
                        font-size: 15px;

                        a {
                            color: black;
                        }
                    }
                }
            }
        }

        .tags {
            padding: 35px 30px;

            h3 {
                color: #000000;
                font-size: 20px;
                font-weight: 700;
                padding-bottom: 14px;
                font-family: "Roboto";
            }
            .blog-tag{
                display: inline;
                a {
                    margin-right: 5px;
                    margin-bottom: 5px;
                    padding: 10px 12px;
                    border-radius: 30px;
                    display: inline-block;
                    border: 1px solid #e5e5e5;
                    color: 555555 !important;
                }
            }
            
        }
    }
}
.add-comment {
    padding-top: 100px;
    position: relative;

    &::before {
        top: 0;
        left: -45px;
        height: 40px;
        width: 111%;
        content: "";
        position: absolute;
        background-color: #f2f2f4;
    }

    h3 {
        color: #000;
        font-size: 24px;
        font-weight: 700;
    }

    .comment-input {
        margin: 0px -7px;

        .input {
            padding: 0px 7px;

            input {
                width: 285px;
                height: 45px;
                border: none;
                padding-left: 15px;
                border-radius: 4px;
                margin-bottom: 20px;
                background-color: #efeff0;
                outline: none;
            }

        }


    }

    textarea {
        width: 100%;
        border: none;
        height: 165px;
        padding: 15px;
        border-radius: 4px;
        margin-bottom: 20px;
        background-color: #efeff0;
        outline: none;
    }

    button {
        color: #fff;
        width: 170px;
        height: 50px;
        border: none;
        font-weight: 700;
        border-radius: 40px;
        background-color: #0000fe;
        outline: none;
    }
}