.course-details {
    padding: 100px 0px;
    background-color: #f2f2f4;

    .container {
        width: 1200px;
    }

    .cdt-content {
        background-color: #fff;

        .image {
            img {
                max-width: 100%;
                height: auto;
            }
        }

        .txt-area {
            padding: 40px 40px;
            background-color: white !important;

            .navtabs {
                background-color: #f2f2f4;

                .nav-link {
                    padding: 22px 38px;
                    font-weight: 700 !important;
                    font-size: 18px;
                    color: black !important;
                    border-radius: 0 !important;
                    border: none;
                }

                .nav-link.active {
                    background-color: #ff5520;
                    color: white !important;
                }
            }



            .courses-details {

                .course-details-overview {
                    .txt1 {
                        h3 {
                            color: #000;
                            font-size: 24px;
                            font-weight: 700;
                            font-family: $secondary-font;
                        }

                        p {
                            margin-bottom: 0;
                            color: #555 !important;
                            opacity: 1 !important;
                            font-size: 16px !important;
                            font-family: $primary-font;
                        }
                    }

                    .txt2 {
                        h3 {
                            color: #000;
                            font-size: 24px !important;
                            font-weight: 700 !important;
                            padding-bottom: 10px;
                        }

                        .overview-list {
                            margin-top: 15px;
                            display: flex;
                            flex-wrap: wrap;

                            .overview-part {
                                width: 50%;
                                float: left;
                                margin-bottom: 50px;

                                .icon-title {
                                    margin-bottom: -10px;

                                    img {
                                        margin-right: 10px;
                                        max-width: 100%;
                                        height: auto;
                                    }

                                    h3 {
                                        color: #000000 !important;
                                        font-size: 20px !important;
                                        font-family: $secondary-font;
                                        display: inline-block;

                                        a {
                                            color: black;
                                            font-weight: 500 !important;
                                        }
                                    }
                                }

                                .txt {
                                    p {
                                        font-size: 15px;
                                        line-height: 1.6;
                                        max-width: 330px;
                                        color: #555555 !important;
                                        opacity: 1 !important;
                                        margin: 0;
                                        padding: 0;

                                    }

                                    a {
                                        text-decoration: underline !important;
                                        color: black;
                                        font-weight: 700;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .course-curriculm {
                .header {
                    margin-bottom: 20px;

                    h3 {
                        color: #000;
                        font-size: 24px;
                        font-weight: 700;
                        margin-top: 30px;
                        line-height: 1.2;
                        vertical-align: middle;

                    }

                    .time {
                        margin-top: -40px;

                        span {
                            font-weight: 500 !important;
                            margin-left: 30px !important;
                            color: #555555
                        }
                    }

                }

                .accordion {
                    .accordion-item {
                        margin-bottom: 10px;


                        button {
                            width: 100%;
                            border: none;
                            position: relative;
                            padding: 20px 20px 20px 50px;
                            background-color: #f2f2f4;
                            display: flex;
                            justify-content: space-between;
                            box-shadow: none;

                            &::after {
                                top: 50%;
                                transform: translateY(-50%);
                                left: 15px;
                                color: #000;
                                font-size: 50px;
                                content: "-";
                                position: absolute;
                                background-image: none;
                                height: auto;
                            }

                            h3 {
                                color: #000;
                                float: left;
                                font-size: 20px;
                                font-weight: 700 !important;
                            }

                            span {
                                font-weight: 500;
                                margin-left: 30px;
                                font: 16px $primary-font;
                                color: black !important;
                            }

                            &.collapsed {
                                &::after {
                                    content: "+";
                                    font-size: 40px;
                                }
                            }




                        }
                    }

                    .accordion-body {
                        padding: 20px 30px;
                        border: 1px solid #f2f2f4;

                        ul {
                            margin: 0;
                            padding: 0;

                            li {
                                width: 100%;
                                border-bottom: 1px solid #dadada;
                                margin-bottom: 15px;
                                padding-bottom: 15px;
                                list-style: none;

                                i {
                                    font-size: 13px;
                                    margin-right: 10px;
                                    color: #555555;
                                }

                                span {
                                    float: right;
                                    color: #555555 !important;
                                }

                                .first {
                                    color: #ff5520 !important;
                                    margin-right: 10px;
                                }

                                &:last-child {
                                    border: none;
                                    padding-bottom: 0;
                                    margin-bottom: 0;

                                }
                            }
                        }
                    }
                }
            }

            .course-instructors {
                h3 {
                    color: #000;
                    font-size: 24px !important;
                    font-weight: 700;
                    padding-bottom: 10px;
                    font-family: $secondary-font;
                    margin-top: 20px;
                }

                .ins-btn {
                    height: 48px;
                    width: 150px;
                    line-height: 44px;
                    border-radius: 30px;
                    border: 2px solid #0000fe;
                    text-align: center;

                    a {
                        color: black !important;
                        font-weight: 700;
                    }
                }

                .ins-img {
                    margin-top: 20px;

                    img {
                        margin-right: 25px;
                    }

                    .txt {
                        padding-top: 5px;
                        margin-bottom: 15px;

                        h3 {
                            color: #000;
                            font-weight: 600;
                            font-size: 20px !important;
                            padding-bottom: 10px;
                        }

                        .rate {
                            margin-bottom: 10px;


                            ul {
                                margin-right: 10px;
                                display: inline;
                                padding: 0;

                                li {
                                    color: #ebc90a;
                                    list-style: none;
                                    display: inline-block;
                                }

                                .unchecked {
                                    color: #d3d3d3 !important;
                                }
                            }

                            .first {
                                color: #000;
                                font-weight: 500;
                                margin-right: 10px;

                            }

                            .seecond {
                                color: #555555;
                                font-size: 14px !important;
                            }
                        }

                        .student {
                            span {
                                margin-right: 10px;
                            }

                            i {
                                color: #e3002a !important;
                                margin-right: 6px !important;
                            }
                        }
                    }
                }

                .ins-details {
                    p {
                        font-size: 16px !important;
                        padding: 0;
                    }
                }
            }

            .course-reviews {
                h3 {
                    color: #000;
                    font-size: 24px;
                    font-weight: 700;
                    padding: 25px 0;
                    margin: 0;
                }

                .cmnt {
                    display: flex;
                    padding-bottom: 60px;

                    .image {
                        margin-right: 20px;
                        border-radius: 8px;

                        img {
                            max-width: none;
                        }
                    }

                    .txt {
                        .author-rate {
                            display: flex;
                            justify-content: space-between;
                            padding-bottom: 10px;

                            .author {
                                h3 {
                                    color: #000;
                                    font-size: 20px;
                                    font-weight: 500;
                                    padding: 0 0 5px 0;

                                }

                                margin: 0;
                            }

                            span {
                                font-size: 14px;
                                color: #555;
                            }
                        }

                        .rate {
                            display: flex;

                            ul {
                                display: flex;
                                list-style: none;
                                margin-right: 5px;

                                li {
                                    list-style: none;
                                    color: #ebc90a;

                                    &:last-child {
                                        color: #d3d3d3;
                                    }

                                }

                            }

                            span {
                                font-weight: 500;
                                margin: 0 10px;
                            }
                        }

                    }

                    p {
                        font-size: 16px !important;
                        margin-bottom: 20px;
                        padding: 0;
                    }

                    a {
                        color: #fff;
                        height: 40px;
                        width: 100px;
                        font-size: 15px;
                        font-weight: 700;
                        border-radius: 30px;
                        line-height: 40px;
                        display: inline-block;
                        background-color: #ff5520;
                        text-align: center;
                    }
                }

                .add-comment {
                    padding-top: 100px;
                    position: relative;

                    &::before {
                        top: 0;
                        left: -45px;
                        height: 40px;
                        width: 111%;
                        content: "";
                        position: absolute;
                        background-color: #f2f2f4;
                    }

                    h3 {
                        color: #000;
                        font-size: 24px;
                        font-weight: 700;
                    }

                    .comment-input {
                        margin: 0px -7px;

                        .input {
                            padding: 0px 7px;

                            input {
                                width: 254px;
                                height: 45px;
                                border: none;
                                padding-left: 15px;
                                border-radius: 4px;
                                margin-bottom: 20px;
                                background-color: #efeff0;
                            }

                        }


                    }

                    textarea {
                        width: 100%;
                        border: none;
                        height: 165px;
                        padding: 15px;
                        border-radius: 4px;
                        margin-bottom: 20px;
                        background-color: #efeff0;
                    }

                    button {
                        color: #fff;
                        width: 170px;
                        height: 50px;
                        border: none;
                        font-weight: 700;
                        border-radius: 40px;
                        background-color: #0000fe;
                    }
                }
            }

            .view-offline {
                padding-top: 25px;

                h3 {
                    margin: 0;
                    font-family: $secondary-font;
                    color: #000;
                    font-size: 24px;
                    font-weight: 700;
                    padding-bottom: 10px;
                }

                p {
                    font-size: 16px;
                    margin: 0;
                    padding: 0;

                }

                a {
                    color: #fff;
                    font-weight: 700;
                    margin-top: 30px;
                    padding: 15px 30px;
                    border-radius: 40px;
                    display: inline-block;
                    background-color: #ff5520;
                }
            }
        }
    }

    .video {
        .image {
            position: relative !important;
        }

        .icon {
            top: 50%;
            left: 0;
            right: 0;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            color: #ff5520;
            position: absolute;
            line-height: 50px;
            border-radius: 100%;
            background-color: #fff;
            transform: translateY(-50%);
            position: absolute;
            text-align: center;
        }
    }

    .widget {
        margin-top: 50px;
        overflow: hidden;
        border-radius: 4px;
        margin-bottom: 40px;
        background-color: #fff;

        .content {
            padding: 35px 30px;

            .list {
                .item {
                    margin-bottom: 10px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #eef1fe;
                    display: flex;
                    justify-content: space-between;

                    span {
                        color: black;

                        i {
                            color: $secondary-color;
                            margin-right: 7px;
                        }
                    }
                }
            }

            .price {
                display: flex;
                justify-content: space-between;

                span {
                    float: left;
                    color: #000;
                    font-size: 24px;
                    font-weight: 700;

                    strong {
                        color: $secondary-color;
                    }
                }

                a {
                    color: #fff;
                    width: 75px;
                    height: 30px;
                    font-size: 15px;
                    margin-top: 5px;
                    font-weight: 700;
                    line-height: 30px;
                    margin-left: 20px;
                    text-align: center;
                    display: inline-block;
                    background-color: #ff5520;
                }
            }
        }
    }

    .widget {
        .content {
            h3 {
                color: #000;
                font-size: 20px;
                font-weight: 700;
            }

            .course {
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid #eef1fe;

                .image {
                    margin-right: 15px;
                }

                a {
                    color: #000;
                    display: block;
                    font-weight: 700;
                    line-height: 1.375;
                    padding-bottom: 3px;
                    font-size: 14px !important;
                }

                span {
                    display: block;
                    color: #ff5520;
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }
    }
}